body{
    background-color: rgb(50, 187, 105);
}

li,a{
    font-family: 'Over the Rainbow', cursive;
    color: rgb(9, 82, 32);
    font-size: 20px;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1{
    color:rgb(242, 242, 218);
    font-family: 'Codystar', cursive;
    font-size: 80px;
    margin: 1px;
    padding: 1vw 0 0 1.6vw;
    

}

.ivan{
    position: absolute;
    
    
}

.larsen{
    position: absolute;
    top:80px;
   
}
.box{
    width: 400px;
    height: 200px;
    background-color: rgba(52, 52, 52, 0.816);
    margin: 29px;
    position: absolute;
    top: 23%;
    left: -1%;
}

h2{
    font-family: 'Over the Rainbow', cursive;
    color: rgb(9, 82, 32);
    margin: 1px;
    font-size: 30px;
    padding: 0 0 0 1.6vw;
}

p{
    color: rgb(230, 230, 230);
    margin: 10px;
    font-size: 20px;
    padding: 0 0 0 2vw;
}

.col_v{
    margin: 0 2vw 0 0;
}

main video{
    width: 90%;
    aspect-ratio: 16/9;
    height: auto;
    margin: 6vw 0 4vw 5vw;
    display: flex;
    justify-content: center;
}

.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
}

.ko{
    max-width: 23.3vw;
    padding-left: 1vw;
    
}

.ko1{
    max-width: 23.3vw;
    padding-left: 0.6vw;
  

}


.ko2{
    max-width: 23.3vw;
    padding-left: 0.3vw;
   
   
}

.ko3{
    max-width: 23.3vw;
    padding-right: 1vw;
    position: relative;
  
}

.bg_poster{
    max-width: 400px;
    display: block;
    margin:auto; 
}

@media (min-width:1200px){

    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

h2, p{
 padding: 2px;
}
 
}

@media (max-width:400px){

    
    .ko{
        max-width: 23.3vw;
  
        
    }
    
    .ko1{
        max-width: 23.3vw;
     
    
    }
    
    
    .ko2{
        max-width: 23.3vw;
      
       
    }
    
    .ko3{
        max-width: 23.3vw;
      
    }

    .bg_poster{
        max-width: 400px;
        display: block;
        margin:auto; 
    }

 
}
